#leafy_graph {
        width: 100%;
}

#leafy_graph-canvaswidget {
        margin: auto;
}

.outer {
        width: 100%;
}

img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
